####################
#   Eclipse
####################
.cproject
.project
.cproject
.settings/
../.metadata/*
*.metadata
.log
.history/
bin/
tmp/

###################
# Robot files
###################
*.o
main
robot
